@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin: 0px;
  font-family:'Roboto';
  text-align: center;
}

#map-area {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  height: 100vh;
  display: block;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#animated-text {
  position: absolute;
  top: 200px;
  width: 400px;
  left: calc(50% - 200px);
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip .cafe {
  background: #ED194F;
}
#flip .park {
  background: #EEDF63;
}
#flip .hospital {
  background: #5DBCD2;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

/* Set gray background color and 100% height */
.sidenav {
  background-color: #A82269;
  height: 100vh;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
